body {
	background-color: #ffffff;
}
#wrapper {
	width: 100%; height: 100%;
	overflow-y: scroll;
}

.obf-container {
	position: relative;
	background-color: rgba(0, 100, 100, 0.02);
	border-left: 2px solid #0000a0;
	margin: 10px 0;
	padding: 10px 0 10px 20px;
}
.obf-container > .delim {
	font-family: monospace;
	position: absolute;
	width: 12px; height: 12px; line-height: 12px;
	text-align: center;
	font-size: 12px;
}
.obf-container > .delim.delimA { left: 0; top: -2px; }
.obf-container > .delim.delimB { left: 0; bottom: -2px; }
.obf-container > .children > .string {
	font-family: monospace;
	background-color: #ffffff; color: #000000;
}
