#root {
  position: absolute;
  box-sizing: border-box;
  width: 100%; height: 100%;
  left: 0; top: 0;
  padding-bottom: 20px;
  background-color: #0a00a9;
}
#root-rps, #root-version {
  position: absolute;
  bottom: 0;
  margin: 0 3px;
  font-family: monospace;
  height: 20px; line-height: 20px;
  color: #ffffff;
}
#root-rps { left: 0; }
#root-version { right: 0; }

#root-login, #root-login-in, #root-login-in-chooseStory {
  position: relative;
  width: 100%; height: 100%;
  left: 0; top: 0;
}

#root-login-in-chooseStory > ._lobby {
  position: absolute;
  width: 100%; height: 100%;
  left: 0; top: 0;
  background-color: #dfeff9;
}
#root-login-in-chooseStory > ._lobby > ._title {
  position: relative;
  display: block;
  width: 100%; height: 60px; line-height: 60px;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  font-weight: 100;
  letter-spacing: 18px;
  text-indent: 18px;
  text-transform: uppercase;
}
#root-login-in-chooseStory > ._lobby > ._storySet {
  position: relative;
  width: 100%;
  overflow-y: auto;
}
#root-login-in-chooseStory > ._lobby > ._storySet > .story {
  background-color: #ffffff;
  padding: 20px 4px;
}
#root-login-in-chooseStory > ._lobby > ._storySet > .story > ._quickName {
  position: absolute;
  display: block;
  left: 4px; top: 0; height: 20px; line-height: 20px;
  font-size: 12px;
  color: #808080;
}
#root-login-in-chooseStory > ._lobby > ._storySet > .story > ._user {
  position: absolute;
  display: block;
  left: 104px; top: 0; height: 20px; line-height: 20px;
  font-size: 12px;
  color: #808080;
}
#root-login-in-chooseStory > ._lobby > ._storySet > .story > ._description {
  display: block;
  font-family: serif;
  font-size: 18px;
}
#root-login-in-chooseStory > ._lobby > ._storySet > .story > ._age {
  position: absolute;
  left: 4px; bottom: 0;
  font-size: 12px;
  color: #a0a0a0;
  height: 20px; line-height: 20px;
}
#root-login-in-chooseStory > ._lobby > ._storySet > .story > ._age > ._0,
#root-login-in-chooseStory > ._lobby > ._storySet > .story > ._age > ._1,
#root-login-in-chooseStory > ._lobby > ._storySet > .story > ._age > ._2 {
  margin-right: 2px;
}
#root-login-in-chooseStory > ._lobby > ._storySet > .story > ._authored {
  position: absolute;
  width: 40px; height: 40px;
  top: 50%; margin-top: -20px; right: 10px;
}
#root-login-in-chooseStory > ._lobby > ._storySet > .story > ._authored > ._button {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  padding: 0;
  font-size: 0;
  border-radius: 100%;
  background-color: #1286c4;
}

#root-login-in-chooseStory > ._story {
  position: absolute;
  width: 100%; height: 100%;
  left: 0; top: 0;
  background-color: #dfeff9;
}
#root-login-in-chooseStory > ._story > ._header {
  position: absolute;
  width: 100%; height: 40px; line-height: 40px;
  z-index: 2;
}
#root-login-in-chooseStory > ._story > ._header > ._back {
  position: absolute;
  width: 40px; height: 40px;
  left: 0; top: 0;
  margin: 0; padding: 0;
  z-index: 10;
  text-align: center;
}
#root-login-in-chooseStory > ._story > ._header > ._title {
  position: absolute;
  width: 100%; height: 24px; line-height: 24px;
  left: 0; top: 0;
  font-size: 20px;
  text-align: center;
}


#root-login-in-chooseStory > ._story > ._header > ._roundInfo {
  position: absolute;
  width: 100%; height: 16px;
  left: 0; top: 24px;
  white-space: nowrap;
  text-align: center;
}
#root-login-in-chooseStory > ._story > ._header > ._roundInfo > ._phase {
  display: inline-block;
  height: 16px; line-height: 16px;
  margin-right: 10px;
  font-size: 12px;
  vertical-align: top;
  display: none;
}
#root-login-in-chooseStory > ._story > ._header > ._roundInfo > ._phaseTimeRemaining {
  display: inline-block;
  height: 16px; line-height: 16px;
  font-size: 12px;
  vertical-align: top;
  white-space: nowrap;
}

#root-login-in-chooseStory > ._story > ._writeSet {
  position: absolute;
  box-sizing: border-box;
  width: 100%; height: 50%; padding-top: 40px;
  left: 0; top: 0;
  z-index: 1;
  
  font-family: serif;
}
#root-login-in-chooseStory > ._story > ._writeSet > .write {
  display: inline;
  white-space: pre-wrap;
  cursor: default;
  margin-right: 3px;
}
#root-login-in-chooseStory > ._story > ._writeSet > .write > ._content {
  font-size: 14px;
  color: #040404;
  vertical-align: middle;
}
#root-login-in-chooseStory > ._story > ._writeSet > .write:hover > ._content {
  background-color: #c0c0c0;
}
#root-login-in-chooseStory > ._story > ._writeSet > .write[class^="_preview"] > ._content {
  background-color: #b0b0ff;
}
#root-login-in-chooseStory > ._story > ._writeSet > .write > ._user {
  box-sizing: border-box;
  border: solid 0 #8080f0;
  margin-left: 0;
  padding: 0;
  background-color: #1018a0;
  color: #ffffff;
  font-size: 0;
  vertical-align: middle;
  
  transition: font-size 300ms linear, border 300ms linear, margin 300ms linear, padding 300ms linear;
}
#root-login-in-chooseStory > ._story > ._writeSet > .write:hover > ._user {
  border: solid 1px #8080f0;
  margin-left: 3px;
  padding: 0 3px;
  font-size: 12px;
}

#root-login-in-chooseStory > ._story > ._writeOrVote {
  position: absolute;
  width: 100%; height: 50%;
  left: 0; top: 50%;
}

#root-login-in-chooseStory > ._story > ._writeOrVote > ._write > ._editor {
  height: 200px;
}

._clock { position: relative; display: inline-block; white-space: nowrap; }
._clock > ._component { position: relative; display: inline-block; }
._clock > ._component > ._name { display: inline-block; }
._clock > ._component > ._value { display: inline-block; }
._clock > ._separator { position: relative; display: inline-block; }

._clock._format-string { }
._clock._format-string > ._component {}
._clock._format-string > ._component._empty { display: none; }
._clock._format-string > ._component > ._name { }
._clock._format-string > ._component > ._value { margin-right: 4px; }
._clock._format-string > ._separator { margin-right: 4px; }
._clock._format-string > ._separator:before { content: ","; }
._clock._format-string > ._separator._empty { display: none; }

._clock._format-digital { }
._clock._format-digital > ._separator:before { content: ":"; }
._clock._format-digital > ._component { }
._clock._format-digital > ._component > ._name { display: none; }
