@keyframes rise {
  0% { margin-bottom: -60px; opacity: 0; }
  10% { margin-bottom: -60px; opacity: 0; }
  60% { opacity: 0.2; }
  100% { margin-bottom: 0px; opacity: 1; }
}
@keyFrames fadeScaleIn {
  0% { transform: scale(0); opacity: 0; }
  10% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
@keyframes scaleIn {
  0% { transform: scale(5, 0); opacity: 0; }
  10% { transform: scale(5, 0); opacity: 0; }
  60% { transform: scale(4, 0.01); opacity: 0.4; }
  100% { transform: scale(1, 1); opacity: 1; }
}
@keyframes spin {
	0% { transform: rotate(0deg); }
	30% { transform: rotate(450deg); }
	72% { transform: rotate(-80deg); }
	100% { transform: rotate(0deg); }
}
@keyframes spin2 {
	0% { transform: rotate(90deg); }
	40% { transform: rotate(200deg); }
	80% { transform: rotate(-400deg); }
	100% { transform: rotate(90deg); }
}

#root {
  position: absolute;
  box-sizing: border-box;
  width: 100%; height: 100%;
  left: 0; top: 0;
  border-bottom: 12px solid transparent;
  background-color: #29c5fa;
}
#root-rps, #root-version {
  position: absolute;
  bottom: -12px;
  margin: 0 3px;
  font-family: monospace;
  height: 12px; line-height: 12px;
  font-size: 10px;
  color: #ffffff;
}
#root-rps { left: 0; }
#root-version { right: 0; }

#root-login, #root-login-in, #root-login-out, #root-login-in-chooseStory {
  position: absolute;
  width: 100%; height: 100%;
  left: 0; top: 0;
}

#root-login {
  background-color: #ffffff;
  overflow: hidden; /* Prevent items from overlapping the bottom status bar */
}

/*
Login/logout transition
*/
.choiceTransition {
  z-index: 1;
  opacity: 1;
  transition: opacity 400ms ease-in-out, transform 400ms linear;
}
.choiceTransition.choiceRemoved {
  z-index: 10;
  opacity: 0;
  transform: scale(10);
  pointer-events: none;
}

#root-login-out {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  background-color: #ffffff;
}
#root-login-out:before {
  content: "";
  position: relative;
  display: inline-block;
  width: 0; height: 100%;
  vertical-align: middle;
}
#root-login-out > .loginForm {
  position: relative;
  display: inline-block;
  width: 300px;
  vertical-align: middle;
}

#loginForm { background-color: #ffffff; }
#loginForm > .title {
  display: block;
  color: #0a00a9;
  font-size: 60px;
  animation-name: rise;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
#loginForm > .formItem {}
#loginForm > .formItem > .input {
  display: block;
  height: 40px; line-height: 40px;
  margin: 3px 0;
  border-radius: 14px;
  overflow: hidden;
  font-size: 30px;
}
#loginForm > .signin,
#loginForm > .signup {
  display: block;
  margin: 3px auto;
  border-radius: 10px;
  padding: 4px 10px;
  text-align: center;
}
#loginForm > .signin {
  font-size: 20px;
  width: 140px;
  background-color: #4040ff;
  color: #ffffff;
  box-shadow: none;
}
#loginForm > .signup {
  font-size: 12px;
  width: 100px;
  background-color: #6060ff;
  color: #ffffff;
  box-shadow: none;
}
#loginForm > .username,
#loginForm > .password,
#loginForm > .signin,
#loginForm > .signup {
  /*animation-name: scaleIn;*/
  animation-name: fadeScaleIn;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

/*
Give all .interactive elements a consistent feel
*/
.interactive { background-color: #0a00a9; }
.interactive.button:focus {
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.4) !important;
}
.input.focus > .anim > .a { background-color: #ffffff; }

/*
Give all .button elements a consistent feel
*/
.button {
  color: #1286c4;
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #1286c4;
  text-align: center;
  
  transition: box-shadow 300ms ease-in-out, color 300ms linear;
}
.button:hover {
  box-shadow: inset 0 0 0 24px #1286c4;
  color: #ffffff;
}
.button.textButton {
  border-radius: 5px;
  font-size: 20px; padding: 10px;
}
.button.iconButton {
  padding: 0;
  width: 40px; height: 40px;
  border-radius: 100%;
  font-size: 0;
}
.button.iconButton.type-larrow:before { content: '\0021e6'; font-size: 30px; line-height: 39px; }
.button.iconButton.type-plus:before { content: '\00002b'; font-size: 40px; line-height: 42px; }

/*
the #decor element consists of the funky spinner
*/
#decor {
  position: absolute;
  width: 100%; height: 100%;
  left: 0; top: 0;
  z-index: -1;
  
  animation-name: fadeScaleIn;
  animation-duration: 1000ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
#decor > .spin {
  position: absolute;
  left: 50%; top: 50%;
  width: 0; height: 0;
  
  animation-name: spin;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 50s;
}
#decor > .spin > .arm {
  position: absolute;
	width: 280px; height: 0;
	left: 0; top: 0;
	
	transform-origin: 0% 50%;
}
#decor > .spin > .arm:before {
  content: "";
  position: absolute;
  display: block;
	width: 8px; height: 130px;
	right: 0; top: -90px;
	background-color: #fafaff;
	border-radius: 20%;
	
	animation-name: spin2;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	animation-duration: 21s;
}

/*
.titledContent elements have a .title element, an arbitrary .content
pane, and .mainButton buttons (to the left and right of the title)
*/
.titledContent {
  position: absolute;
  width: 100%; height: 100%;
  left: 0; top: 0;
  background-color: #ffffff;
}
.titledContent > .mainButton {
  position: absolute;
  top: 10px;
  z-index: 3;
}
.titledContent > .mainButton.left { left: 10px; }
.titledContent > .mainButton.right { right: 10px; }
.titledContent > .title {
  position: relative;
  display: block;
  width: 100%; height: 60px; line-height: 60px;
  text-align: center;
  font-size: 30px;
  font-family: monospace;
  font-weight: 100;
  letter-spacing: 18px;
  text-indent: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 2;
}
.titledContent > .content {
  box-sizing: border-box;
  border-top: 60px solid transparent;
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 1;
}

.titledContent.min1 > .title {
  height: 40px; line-height: 40px;
  font-size: 20px;
  letter-spacing: 12px;
  text-indent: 12px;
}
.titledContent.min1 > .content {
  border-top: 40px solid transparent;
}

#lobby { background-color: #dfeff9; }
#storySet {}
#storySet > .story {
  position: relative;
  background-color: #ffffff;
  padding: 20px 4px;
  margin-bottom: 4px;
}
#storySet > .story > .quickName {
  position: absolute;
  display: block;
  left: 4px; top: 0; height: 20px; line-height: 20px;
  font-size: 12px;
  color: #808080;
}
#storySet > .story > .user {
  position: absolute;
  display: block;
  left: 104px; top: 0; height: 20px; line-height: 20px;
  font-size: 12px;
  color: #808080;
  white-space: nowrap;
}
#storySet > .story > .description {
  display: block;
  font-family: serif;
  font-size: 18px;
}
#storySet > .story > .age {
  position: absolute;
  left: 4px; bottom: 0;
  font-size: 12px;
  color: #a0a0a0;
  height: 20px; line-height: 20px;
  white-space: nowrap;
}
#storySet > .story > .age > .part0,
#storySet > .story > .age > .part1,
#storySet > .story > .age > .part2 {
  margin-right: 3px;
}
#storySet > .story > .authored {
  position: absolute;
  width: 40px; height: 40px;
  top: 50%; margin-top: -20px; right: 10px;
}
#storySet > .story > .authored > .button {
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  padding: 0;
  font-size: 0;
  border-radius: 100%;
  background-color: #1286c4;
}

#storyForm {
  background-color: #ffffff;
  padding: 0 4px;
}
#storyForm > .formItem {
  margin-bottom: 10px;
  font-size: 14px;
}
#storyForm > .formItem > .name {
  display: block;
  font-size: 12px;
}
#storyForm > .formItem > .input {
  border-bottom: 1px solid #cacaca;
}
#storyForm > .formItem .interactive {
  /*
  background-color: #cacaca;
  color: #ffffff;
  */
  background-color: rgba(0, 0, 0, 0.05);
  color: #606060;
}
#storyForm > .formItem > .input.focus > .anim > .a {
  background-color: #606060;
}

#storyForm > .formItem.description > .input {
  height: 100px;
}
#storyForm > .formItem.contestTime > .input {
  margin-right: 5px;
}
#storyForm > .formItem.contestTime > .value {
  height: 30px;
  line-height: 30px;
}

#storyForm > .summary {
  margin: 20px 0 15px;
  color: #484848;
  font-family: serif;
}
#storyForm > .summary > .summaryItem {
  margin-bottom: 10px;
}
#storyForm > .summary > .summaryItem > .text {
  margin-right: 4px;
}
#storyForm > .summary > .summaryItem > .calc {
  display: inline-block;
}
#storyForm > .summary > .summaryItem > .calc > .waiting { font-style: italic; }
#storyForm > .summary > .summaryItem > .calc > .finished { font-weight: bold; }

#story {}
#story > .content { overflow: hidden; }

#story > .content > .metadata {
  display: block;
  width: 100%; height: 16px;
  left: 0; top: 0;
  white-space: nowrap;
  text-align: center;
  z-index: 2;
}
#story > .content > .metadata > .phase {
  display: inline-block;
  height: 16px; line-height: 16px;
  margin-right: 10px;
  font-size: 12px;
  vertical-align: top;
  display: none;
}
#story > .content > .metadata > .phaseTimeRemaining {
  display: inline-block;
  height: 16px; line-height: 16px;
  font-size: 12px;
  vertical-align: top;
  white-space: nowrap;
}

#ws {
  position: absolute;
  box-sizing: border-box;
  width: 100%; height: 100%;
  left: 0; top: 0;
  border-top: 26px solid transparent; /* Make space for `#story > .content > .metadata`, with some nice spacing as well */
  border-bottom: 283px solid transparent; /* Make space for `#story > .content > .actions` with 3px of room as well */
  padding: 0 2px;
  font-family: serif;
  overflow-x: hidden;
  overflow-y: auto;
  
  z-index: 1;
}
#ws > .write {
  display: inline;
  white-space: pre-wrap;
  cursor: default;
  margin-right: 3px;
}
#ws > .write > .content {
  font-size: 14px;
  color: #040404;
  vertical-align: middle;
}
#ws > .write:hover > .content {
  background-color: #c0c0c0;
}
#ws > .write[class^="preview"] > .content {
  background-color: #b0b0ff;
}
#ws > .write > .username {
  box-sizing: border-box;
  border: solid 0 #8080f0;
  margin-left: 0;
  padding: 0;
  background-color: #1018a0;
  color: #ffffff;
  font-size: 0;
  vertical-align: middle;
  
  transition: font-size 300ms linear, border 300ms linear, margin 300ms linear, padding 300ms linear;
}
#ws > .write:hover > .username {
  border: solid 1px #8080f0;
  margin-left: 3px;
  padding: 0 3px;
  font-size: 12px;
}
#ws:after {
  content: "";
  display: block;
  width: 150px;
  margin: 25px auto 0 auto;
  padding-bottom: 25px;
  border-top: 5px dotted #b8b8b8;
}

#story > .content > .actions {
  position: absolute;
  width: 100%; height: 280px;
  left: 0; bottom: 0;
  z-index: 3;
}
#story > .content > .actions > .write {
}
#story > .content > .actions > .write > .editor {
  position: absolute;
  box-sizing: border-box;
  width: 100%; height: 100%;
  left: 0; top: 0;
  border-right: 50px solid transparent;
  
  z-index: 1;
}
#story > .content > .actions > .write > .submit {
  position: absolute;
  width: 50px; height: 100%; padding: 0;
  right: 0; top: 0;
  background-color: #ffffff;
  color: #000000;
  box-shadow: none;
  font-size: 0;
  overflow: hidden;
  z-index: 2;
  
  transition: color 300ms linear, background-color 300ms linear;
}
#story > .content > .actions > .write > .submit:hover {
  background-color: #000000;
  color: #ffffff;
}
#story > .content > .actions > .write > .submit:before {
  content: '\3004';
  position: absolute;
  width: 100px; height: 150px; line-height: 150px;
  left: 50%; top: 50%; margin-left: -50px; margin-top: -75px;
  font-size: 80px;
  z-index: 2;
  transform: scale(0.6);
  transition: transform 1000ms linear;
}
#story > .content > .actions > .write > .submit:hover:before {
  transform: scale(1);
}
/*
#story > .content > .actions > .vote {
  position: absolute;
  width: 100%; height: 100%;
  left: 0; top: 0;
}
#story > .content > .actions > .vote > .title {
  position: absolute;
  width: 100%; height: 20px; line-height: 20px;
  left: 0; top: 0;
  z-index: 2;
}*/
#story > .content > .actions > .vote > .title {
  background-color: #1286c4;
  color: #ffffff;
}

#contenderSet {
  position: absolute;
  box-sizing: border-box;
  width: 100%; height: 100%;
  left: 0; top: 0;
  z-index: 1;
}
#contenderSet > .contender {
  position: relative;
  display: block;
  margin: 3px;
  padding: 20px 40px 10px 10px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px #606060;
  color: #606060;
  overflow: hidden;
}
#contenderSet > .contender.selected {
  background-color: #feaeb2;
  box-shadow: none;
}
#contenderSet > .contender > .user {
  position: absolute;
  left: 10px; top: 5px;
  z-index: 1;
  font-family: monospace;
  font-size: 10px;
  pointer-events: none;
}
#contenderSet > .contender > .content {
  position: relative;
  z-index: 1;
  pointer-events: none;
  font-size: 14px;
  font-family: serif;
}
#contenderSet > .contender > .voteSet {
  position: relative;
  margin-top: 4px;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: monospace;
  z-index: 1;
  pointer-events: none;
}
#contenderSet > .contender > .voteSet > .vote {
  display: inline-block;
  padding: 0 2px;
  vertical-align: top;
  background-color: #ff6060;
  color: #ffffff;
  margin-right: 5px;
}
#contenderSet > .contender > .votable {
  position: absolute;
  width: 40px; height: 100%;
  right: 0; top: 0;
  z-index: 0;
  cursor: pointer;
  transition: background-color 500ms linear, width 500ms ease-out;
}
#contenderSet > .contender > .votable.choose-vote:hover {
  background-color: #feaeb2;
  width: 100%;
}
#contenderSet > .contender > .votable > .button {
  position: absolute;
  width: 100%; height: 100%;
  padding: 0;
  right: 0; top: 0;
  font-size: 0;
  background-color: transparent;
  box-shadow: none;
}
#contenderSet > .contender > .votable > .button:before {
  content: "";
  position: absolute;
  display: block;
  width: 20px; height: 20px;
  right: 10px; top: 50%;
  margin-top: -10px;
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px #606060;
  transition: width 200ms ease-in-out, height 200ms ease-in-out, margin-top 200ms ease-in-out, right 200ms ease-in-out;
}
#contenderSet > .contender > .votable.choose-vote:hover > .button:before {
  width: 30px; height: 30px;
  margin-top: -15px;
  right: 5px;
}

.clock { position: relative; display: inline-block; white-space: nowrap; }
.clock > .component { position: relative; display: inline-block; }
.clock > .component > .name { display: inline-block; }
.clock > .component > .value { display: inline-block; }
.clock > .separator { position: relative; display: inline-block; }

.clock.format-string { }
.clock.format-string > .component {}
.clock.format-string > .component.empty { display: none; }
.clock.format-string > .component > .name { }
.clock.format-string > .component > .value { margin-right: 4px; }
.clock.format-string > .separator { margin-right: 4px; }
.clock.format-string > .separator:before { content: ","; }
.clock.format-string > .separator.empty { display: none; }

.clock.format-digital { }
.clock.format-digital > .separator:before { content: ":"; }
.clock.format-digital > .component { }
.clock.format-digital > .component > .name { display: none; }

.clock.interactive {
  height: 60px; line-height: 60px;
}

.clock.interactive.format-digital > .component {
  min-width: 50px;
  text-align: center;
}
.clock.interactive.format-string > .component {
  min-width: 84px;
  text-align: center;
}
.clock.interactive.format-string > .component.empty { display: inline-block; }
.clock.interactive.format-string > .separator:before { content: none; }

.clock.interactive > .component > .control {
  position: absolute;
  left: 50%; margin-left: -10px; width: 18px; height: 18px; line-height: 18px;
  border-radius: 100%;
  box-shadow: inset 0 0 0 1px #606060;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
  transition: box-shadow 300ms linear;
}
.clock.interactive > .component > .control:hover {
  box-shadow: inset 0 0 0 3px #606060;
}
.clock.interactive > .component > .control.add { top: 1px; }
.clock.interactive > .component > .control.sub { bottom: 1px; }
.clock.interactive > .component > .control.add:before { content: '\00002b'; }
.clock.interactive > .component > .control.sub:before { content: '\002212'; }
