#root {
  position: absolute;
  box-sizing: border-box;
  width: 100%; height: 100%;
  left: 0; top: 0;
  padding-bottom: 20px;
}
#root-rps, #root-version {
  position: absolute;
  bottom: 0;
  margin: 0 3px;
  font-family: monospace;
  height: 20px; line-height: 20px;
}
#root-rps { left: 0; }
#root-version { right: 0; }
#root-login {
  position: relative;
  width: 100%; height: 100%;
  background-color: #f8f8f8;
  overflow: hidden;
}
#root-login-in, #root-login-out {
  position: relative;
  width: 100%; height: 100%;
}
