#root {
	position: absolute;
	box-sizing: border-box;
	width: 100%; height: 100%;
	left: 0; top: 0;
	padding-bottom: 20px;
}
#root-rps, #root-version {
	position: absolute;
	bottom: 0;
	margin: 0 3px;
	font-family: monospace;
	height: 20px; line-height: 20px;
}
#root-rps { left: 0; }
#root-version { right: 0; }
#root-login {
	position: relative;
	width: 100%; height: 100%;
	background-color: #f8f8f8;
}

#root-login-in-graph {
	position: absolute;
	width: 100%; height: 100%;
	left: 0; top: 0;
}
#root-login-in-graph > ._nodes > .theory {
	display: block;
	position: absolute;
	width: 300px; height: 300px;
	pointer-events: none;
	
	transform-origin: 0% 0%;
	transition: transform 200ms ease-out/*, left 200ms ease-out, top 200ms ease-out */;
}
#root-login-in-graph > ._nodes > .theory ._widget {
	background-color: transparent;
	color: #000000;
	box-shadow: inset 0 0 0 1px #dadada;
}
#root-login-in-graph > ._nodes > .theory > ._controls {
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	pointer-events: all;
	
	border-radius: 100%;
  box-shadow: 0 0 0 2px #d0d0d0;
}
#root-login-in-graph > ._nodes > .theory > ._controls > ._widget {
	position: absolute;
	width: 70px; height: 64px;
	border-radius: 100%;
	font-size: 0;
	top: 26px;
	
	transition: box-shadow 500ms ease-out;
}
#root-login-in-graph > ._nodes > .theory > ._controls > ._widget._loadDependencies {
	box-shadow: inset 0 0 0 6px #09bd3c;
	background-color: #0be74a;
	left: -5px;
}
#root-login-in-graph > ._nodes > .theory > ._controls > ._widget._loadDependencies:hover {
	box-shadow: inset 0 0 0 34px #09bd3c;
}
#root-login-in-graph > ._nodes > .theory > ._controls > ._widget._loadChallenges {
	box-shadow: inset 0 0 0 6px #f44c05;
	background-color: #ff8552;
	right: -5px;
}
#root-login-in-graph > ._nodes > .theory > ._controls > ._widget._loadChallenges:hover {
	box-shadow: inset 0 0 0 34px #f44c05;
}
#root-login-in-graph > ._nodes > .theory > ._data {
	position: absolute;
	width: 100%; height: 100%;
	border-radius: 100%;
	background-color: #ffffff;
	text-align: center;
	overflow: hidden;
}
#root-login-in-graph > ._nodes > .theory > ._data > ._quickName {
	display: block;
	position: relative;
	font-size: 18px;
	margin: 32px 67px 0;
	pointer-events: all;
	cursor: pointer;
}
#root-login-in-graph > ._nodes > .theory > ._data > ._user {
	display: block;
	margin: 5px 34px;
	font-size: 12px;
	color: #606060;
	pointer-events: all;
}
#root-login-in-graph > ._nodes > .theory > ._data > ._theory {
	display: block;
	position: relative;
	margin: 0 30px;
	height: 145px;
	overflow: hidden;
	font-size: 16px;
	font-family: serif;
	text-align: justify;
	pointer-events: all;
	cursor: pointer;
}
#root-login-in-graph > ._nodes > .theory > ._data > ._theory._choose-display:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%; height: 100%;
	left: 0; top: 100%;
	box-shadow: 0 0 50px 24px #ffffff;
}

#root-login-in-controls {
	display: block;
	position: absolute;
	box-sizing: border-box;
	left: 0; bottom: 0; padding: 0 5px;
	white-space: nowrap;
}
#root-login-in-controls > .subControls {
	display: inline-block; margin-right: 10px;
}
#root-login-in-controls ._button {
	margin-right: 2px;
}
