/*
Previously:
	._theory had no pointer events,
	._theory > ._controls && ._theory > ._data had all pointer events

Currently:
	._theory has full pointer events
	._theory > ._controls && ._theory > ._data have none, but their children have full
*/

#root {
	position: absolute;
	box-sizing: border-box;
	width: 100%; height: 100%;
	left: 0; top: 0;
	padding-bottom: 20px;
}
#root-rps, #root-version {
	position: absolute;
	bottom: 0;
	margin: 0 3px;
	font-family: monospace;
	height: 20px; line-height: 20px;
}
#root-rps { left: 0; }
#root-version { right: 0; }
#root-login {
	position: relative;
	width: 100%; height: 100%;
	background-color: #f8f8f8;
}

/* Graph + Nodes */
#root-login-in-graph {
	position: absolute;
	width: 100%; height: 100%;
	left: 0; top: 0;
}
#root-login-in-graph {
	position: absolute;
	width: 0; height: 0;
	left: 50%; top: 50%;
}
#root-login-in-graph > .theory {
	display: block;
	position: absolute;
	width: 300px; height: 300px;
	border-radius: 100%;
	z-index: 1;
	
	transform-origin: 0% 0%;
	transition: left 800ms ease-out, top 800ms ease-out, transform 200ms linear, box-shadow 500ms linear;
}
#root-login-in-graph > .theory.focused {
	z-index: 2; /* Drags appear above focused node */
}
#root-login-in-graph > .theory ._interactive {
	background-color: transparent;
	color: #000000;
	box-shadow: inset 0 0 0 1px #dadada;
}
#root-login-in-graph > .theory > ._controls {
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	
	border-radius: 100%;
  box-shadow: 0 0 0 2px #d0d0d0;
  
  pointer-events: none;
}
#root-login-in-graph > .theory > ._controls > ._interactive {
	position: absolute;
	width: 64px; height: 64px;
	border-radius: 100%;
	font-size: 0;
	top: 26px;
	
	transition: box-shadow 500ms ease-out, width 500ms linear, height 500ms linear, transform 500ms ease-in-out;
	
	pointer-events: all;
	cursor: pointer;
}
#root-login-in-graph > .theory > ._controls > ._interactive:after {
	/* Used to illuminate the border of the theory on drag */
	content: "";
	position: absolute;
	left: 0; top: 0;
	width: 100%; height: 100%;
	z-index: -1;
	border-radius: 100%;
	box-shadow: 0 0 0 0 rgba(109, 109, 255, 0.8);
	
	pointer-events: none;
	
	transition: box-shadow 500ms linear;
}
#root-login-in-graph > .theory > ._controls > ._interactive._loadDependencies {
	box-shadow: inset 0 0 0 6px #09bd3c;
	background-color: #0be74a;
	left: -5px;
}
#root-login-in-graph > .theory > ._controls > ._interactive._loadDependencies:hover,
#root-login-in-graph > .theory > ._controls > ._interactive._loadDependencies.dragHover {
	box-shadow: inset 0 0 0 34px #09bd3c;
}
#root-login-in-graph > .theory > ._controls > ._interactive._loadChallenges {
	box-shadow: inset 0 0 0 6px #f44c05;
	background-color: #ff8552;
	right: -5px;
}
#root-login-in-graph > .theory > ._controls > ._interactive._loadChallenges:hover,
#root-login-in-graph > .theory > ._controls > ._interactive._loadChallenges.dragHover {
	box-shadow: inset 0 0 0 34px #f44c05;
}
#root-login-in-graph > .theory > ._controls > ._owner {
	pointer-events: all;
}
#root-login-in-graph > .theory > ._controls > ._owner > ._show {
	position: absolute;
	width: 108px; height: 108px;
	right: -56px;
  bottom: -37px;
	border-radius: 100%;
	background-color: #ffffff;
	box-shadow: 0 0 0 2px #d0d0d0;
	text-align: center;
	overflow: hidden;
	
	transform-origin: -10% -10%; /* Allows the element to fold into its parent */
	transition: transform 500ms ease-in-out; /* Dragged focused theories should hide their `._controls > ._owner` */
}
#root-login-in-graph > .theory > ._controls > ._owner > ._show {
	display: inline-block;
	width: 108px;
	vertical-align: middle;
}
#root-login-in-graph > .theory > ._controls > ._owner > ._show > ._button {
	position: relative;
	display: block;
	width: 100%; height: 36px; line-height: 36px; padding: 0;
	
	box-shadow: none;
	background-color: transparent;
	color: #000000;
	
	transition: background-color 200ms linear, color 200ms linear;
}
#root-login-in-graph > .theory > ._controls > ._owner > ._show > ._button:hover {
	background-color: #a0a0a0;
	color: #ffffff;
}
#root-login-in-graph > .theory > ._data {
	position: absolute;
	width: 100%; height: 100%;
	border-radius: 100%;
	background-color: #ffffff;
	text-align: center;
	
	pointer-events: none;
}
#root-login-in-graph > .theory > ._data > ._quickName {
	display: block;
	position: relative;
	font-size: 16px;
	margin: 24px 78px 0;
	cursor: pointer;
	
	pointer-events: all;
}
#root-login-in-graph > .theory > ._data > ._quickName > ._text {
	display: inline-block;
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	font-family: monospace;
}
#root-login-in-graph > .theory > ._data > ._user {
	display: block;
	margin: 5px 34px 3px;
	font-size: 12px;
	color: #606060;
	
	pointer-events: all;
}
#root-login-in-graph > .theory > ._data > ._title {
	display: block;
	position: relative;
	margin: 0 34px;
	height: 24px; line-height: 24px;
	font-size: 20px;
	
	pointer-events: all;
}
#root-login-in-graph > .theory > ._data > ._title > ._input {
	height: 24px;
	font-size: inherit;
}
#root-login-in-graph > .theory > ._data > ._title > ._input > ._interactive {
	height: 24px;
	text-align: center;
	font-size: inherit;
}
#root-login-in-graph > .theory > ._data > ._theory {
	display: block;
	position: relative;
	margin: 2px 30px 0;
	height: 136px;
	overflow: hidden;
	font-size: 16px;
	font-family: serif;
	text-align: left;
	
	white-space: pre-wrap; /* allow newline to render */
	
	pointer-events: all;
}
#root-login-in-graph > .theory > ._data > ._theory._choose-display:after {
	content: "";
	display: block;
	position: absolute;
	width: 100%; height: 100%;
	left: 0; top: 100%;
	box-shadow: 0 0 50px 24px #ffffff;
}

/* Dragging */
#root.dragging {
	user-select: none;
}
#root-login-in-graph > .theory.dragging {
	z-index: 3;
	box-shadow: 0 0 0 18px rgba(109, 109, 255, 0.8);
	opacity: 0.6;
	
	transition: transform 200ms linear, box-shadow 500ms linear;
}
#root-login-in-graph > .theory.dragging,
#root-login-in-graph > .theory.dragging * {
	pointer-events: none !important;
}
#root.dragging #root-login-in-graph > .theory {
	pointer-events: none;
}
#root.dragging #root-login-in-graph > .theory > ._controls > ._interactive {
	pointer-events: all;
	transform: scale(1.8);
}
#root.dragging #root-login-in-graph > .theory > ._controls > ._interactive.dragHover {
	transform: scale(2.4);
}
#root-login-in-graph > .theory.dragging > ._controls > ._interactive,
#root-login-in-graph > .theory.dragging > ._controls > ._owner > ._show {
	transform: scale(0) !important;
}
#root-login-in-graph > .theory.dragging > ._controls > ._interactive:after {
	box-shadow: 0 0 0 18px rgba(109, 109, 255, 0.8);
}

/* Controls */
#root-login-in-controls {
	display: block;
	position: absolute;
	box-sizing: border-box;
	left: 0; bottom: 0; padding: 0 5px;
	white-space: nowrap;
}
#root-login-in-controls > .subControls {
	display: inline-block; margin-right: 10px;
}
#root-login-in-controls ._button {
	margin-right: 2px;
}
